.grid-dashboard-main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr;
    /*grid-template-rows: 80px auto 1fr;*/
    grid-template-areas:
      "h h h h"
      "m c c c"
      "f f f f";
}

.header {
  grid-area: h;
  /*background-color: #6dfd30;*/
}

.menu {
  grid-area: m;
  /*background-color: #6dfd9c;*/
}

.content-dashboard {
  grid-area: c;
  /*background-color: #007dff;*/
}

.footer {
  grid-area: f;
  /*background-color: #6dfd30;*/
}

.add-trip-button {
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 640px) {
    .grid-dashboard-main {
        grid-template-areas:
          "m h h h"
          "c c c c"
          "f f f f";
    }
}
