/* ======================================
  Sign-Up & Log-in Forms
======================================== */

.header-non-loggedin {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  border-bottom: 3px solid var(--green);
  width: 100%;
  display: flex;
  align-items: center;
}

.header-non-loggedin-menu-list {
  position: relative;
  height: 80px;
  line-height: 80px;
}

.header-non-loggedin-logo-box {
  flex: 1;
  text-align: center;
}

.header-non-loggedin-logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  cursor: pointer;
  padding-bottom: 0.45rem;
}

.header-non-loggedin-text {
  color: white;
  font-size: 30px;
  flex: 3;
  margin-left: 25%;
  text-align: left;
}

.logo-large-container {
  height: 150px;
}

img.logo-large {
  height: 130px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 641px) {
  .header-non-loggedin {
    border-bottom: 5px solid var(--green);
  }

  .header-non-loggedin-text {
    transform: none;
    font-size: 40px;
    margin-left: 0;
    text-align: center;
  }

}
