.header {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}

.header-logo {
  padding: 0.7rem 0.95rem 0 0;
  height: 56px;
  transform: scale(1.55);
  /*border: 1px solid white;*/
}

.header-site-names {
  padding: 0.5rem 0 0.5rem;
}

.header-site-names h1, .header-site-names h2 {
  color: white;
}

@media screen and (max-width: 640px) {
  .header-logo {
    display: none;
  }

  .header-site-names h2 {
    display: none;
  }
}
