/*li.item {
  position: relative;
  margin-bottom: 1rem;
}*/

.item .item-name {
  font-size: 1.5rem;
}

.item .item-name, .item .item-details {
  max-width: 70%;
}

.item .item-details {
  padding: 0.35rem 0 0.35rem 1rem;
}

.item .item-username {
  font-size: 1.35rem;
  color: var(--green);
}

.item .item-username span {
  font-size: 1rem;
  color: var(--blue);
}

.item .iconUpdate, .item .iconTrash {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 5px;
}

.item .iconUpdate {
  left: 75%;
}

.item .iconTrash {
  left: 90%;
}

li.item {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid var(--blue);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  min-height: 6rem;
  overflow: auto;
  margin-bottom: 1.5rem;
}
