/*----------------- LIST ITEM STYLES ------------------------ */

li.item {
  position: relative;
  margin-bottom: 1rem;
}

.item .item-name {
  font-size: 1.5rem;
}

.item .iconUpdate {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}

.item .iconTrash {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 75%;
}


/*----------------- GRID STYLES ------------------------ */

.grid-trip-lists-main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas:
      "h h h h"
      "m c c c"
      "f f f f";
}

.header {
  grid-area: h;
  background-color: #6dfd30;
}

.menu {
  grid-area: m;
  background-color: #6dfd9c;
}

.content-trip-lists {
  grid-area: c;
  background-color: #007dff;
}

.footer {
  grid-area: f;
  background-color: #6dfd30;
}

.grid-trip-lists-content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: 50px 80vh 50px;*/
  grid-template-areas:
    "h1 h1"
    "h3-need h3-accounted"
    "btn-need btn-accounted"
    ". btn-filter"
    "list-need list-accounted";
}

.heading-primary {
  grid-area: h1;
}

.heading__needed {
  grid-area: h3-need;
}

.btn-add__needed {
  grid-area: btn-need;
  justify-self: center;
}

.needed__list {
  grid-area: list-need;
}

.heading__accounted {
  grid-area: h3-accounted;
}

.btn-add__accounted {
  grid-area: btn-accounted;
  justify-self: center;
}

.btn-item-filter {
  grid-area: btn-filter;
  justify-self: center;
}

.accounted__list {
  grid-area: list-accounted;
}

@media screen and (max-width: 640px) {
    .grid-trip-lists-main {
        grid-template-areas:
          "m h h h"
          "c c c c"
          "f f f f";
    }
}
