/* ======================================
  LoginPage Component
======================================== */

.form-input #username {
  /*margin-bottom: 1rem;*/
}

.form-input #password {
  /*margin-top: 1rem;*/
}

/* ======================================
  LoginPage Component
======================================== */

.for-centering {
  text-align: center;
}

.login-wrapper h2 {
  text-align: center;
  height: 3rem;
}

.login-register-text {
  text-align: center;
  text-decoration: none;
  color: var(--blue);
  font-size: 1.5rem;
}

/* ======================================
  LoginForm Component
======================================== */

#username, #password {
  font-size: 1.75rem;
}

form#login-form label {
  display: block;
  margin-top: 0.85rem;
}

/*form always centered*/
form#login-form {
  max-width: 450px;
  margin: 0 auto 0;
  padding: 0 10px;
}

/*position is relative so that child elements can be positioned absolutely*/
/*background color for when field is validated with checkmark appearing*/
form#login-form > div {
  position: relative;
  background: white;
  border-bottom: 1px solid #ccc;
}

/*just for the label placeholder text*/
form#login-form > div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
}

/*normal layout & styling of input fields*/
form#login-form > div > input[type="text"],
form#login-form > div > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 0.6rem 1.25rem 0.6rem 1.5rem;
  background: #eee;
}

/* layout & styling of input fields when field is clicked on*/
form#login-form > div > input[type="text"]:focus,
form#login-form > div > input[type="password"]:focus {
  outline: 0;
  background: #eee;
}

/*labels containing placeholder text disappear when field is clicked on*/
form#login-form > div > input[type="text"]:focus + label,
form#login-form > div > input[type="password"]:focus + label {
  opacity: 0;
}

/*valid entries will show checkbox.  checkbox styling.*/
form#login-form.green-check > div > input[type="text"]:valid,
form#login-form.green-check > div > input[type="password"]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

/*valid entries will have label placeholder text removed*/
form#login-form > div > input[type="text"]:valid + label,
form#login-form > div > input[type="password"]:valid + label {
  opacity: 0;
}

/*when input is not valid, not in focus, not empty, do this to the input field*/
form#login-form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form#login-form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: #FFB832;
}

/*when input is not valid, not in focus, not empty, do this to the label text*/
form#login-form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form#login-form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}

/*when input is not valid, not empty, but in focus - show the requirements div*/
form#login-form > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
form#login-form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 10px 30px 20px 50px;
}

/*requirements div is hidden unless triggered above*/
form#login-form > div .requirements {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
  color: #9B2B0D;
  font-style: italic;
}

/*submit button*/
/*form#login-form input[type="submit"] { */
form#login-form button {
  display: block;
  width: 80%;
  margin: 20px auto;
  background: #55e079;
  color: white;
  border: 0;
  border-radius: 38px;
  padding: 20px;
  font-size: 1.2em;
}
