
input {
  display: block;
}

textarea {
  display: block;
}

.DayPickerInput {
  width: 100%;
  display: block;
}

form#form__new-trip {
  max-width: 450px;
  margin: 0 auto 0;
  padding: 0 10px;
}

form#form__new-trip label {
  display: block;
  margin-top: 0.85rem;
}

.DayPickerInput input {
  margin: 0 auto 0;
  width: 100%;
  border: 0;
  padding: 0.6rem 1.25rem 0.6rem 1.5rem;
  background: #eee;
  font-size: 1.75rem;
}

form#form__new-trip > div {
  width: 100%;
}

/*just for the label placeholder text*/
form#form__new-trip > label {
  font-weight: bold;
  top: 22px;
  left: 20px;
}

/*normal layout & styling of input fields*/
form#form__new-trip > input[type="text"],
form#form__new-trip > textarea[type="text"] {
  width: 100%;
  border: 0;
  padding: 0.6rem 1.25rem 0.6rem 1.5rem;
  background: #eee;
  font-size: 1.75rem;
}

form#form__new-trip > input[type="text"] {
  font-size: 1.75rem;
}

form#form__new-trip > textarea[type="text"] {
  font-size: 1.35rem;
}

/* layout & styling of input fields when field is clicked on*/
form#form__new-trip > input[type="text"]:focus,
form#form__new-trip > textarea[type="text"]:focus {
  outline: 0;
  background: #eee;
}

/*labels containing placeholder text disappear when field is clicked on*/
form#form__new-trip > input[type="text"]:focus + label,
form#form__new-trip > textarea[type="text"]:focus + label {
  opacity: 0;
}

form#form__new-trip button {
  display: block;
  width: 80%;
  margin: 20px auto;
  background: var(--blue);
  color: white;
  border: 0;
  border-radius: 38px;
  padding: 20px;
  font-size: 1.2em;
}


