ul {
  list-style: none;
  padding: 1rem;
}

.trip-list a {
  text-decoration: none;
  color: var(--blue);
  /*color: black;*/
}

li.trip {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid var(--blue);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  min-height: 8rem;
  overflow: auto;
  margin-bottom: 1.5rem;
}

.trip-1 {
  margin-top: 1rem;
}

.trip-name, .trip-address, .trip-details {
  margin-bottom: 0.65rem;
  flex-basis: auto;
}

.trip-invite-link {
  /*position: absolute;
  top: 6rem;
  left: 1rem;*/
  flex-basis: auto;
  padding-bottom: 0.5rem;
}

.invite-link-label {
  margin-top: 0.5rem;
}

.trip-date-label {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.trip-dates {
  position: absolute;
  font-size: 1.25rem;
  top: 2.5rem;
  right: 1rem;
}

@media screen and (max-width: 699px) and (min-width: 520px)
 {
  .trip-dates {
    position: absolute;
    font-size: 1.25rem;
    max-width: 50%;
    top: 2.5rem;
  }

  .trip-name {
    max-width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .trip-name, .trip-address, .trip-dates {
    max-width: 50%;
  }

  .trip-dates {
    right: -3rem;
  }
}

