.invite-top-container {
  height: 100vh;
}

.invite-success-container {
  /*padding-left: 1rem;*/
}

.invite-success-container > * {
  text-align: center;
  padding-bottom: 1rem;
}

.invite-success-container > button {
  display: block;
  max-width: 100%;
  width: 25%;
  height: auto;
  margin: 0 auto;
}

.invite-trip-name {
  color: var(--green);
  font-size: 1.8rem;
}

.invite-friends {
  padding: 0.85rem 0;
}

.invite-failure {
  text-align: center;
  font-size: 2.75rem;
  transform: translateY(50%);
}

@media only screen and (max-width: 640px) {
  .invite-success-container > button {
    width: 50%;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .invite-success-container > button {
    width: 33%;
  }
}
